<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Services</title>
    <link rel="stylesheet" href="../static/css/services3.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap">
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
         <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Pet Heaven Logo">
   <span>Pet Heaven</span>
     </div>
     <ul class="nav-links">
       <li><a href="/admin_dashboard" class="nav-link" id="home-link"><i class="fas fa-home"></i> Home</a></li>
       <li><a href="{{ url_for('add_services') }}" class="nav-link"><i class="fas fa-plus"></i> Add Service</a></a></li>
         </ul>
       </li>           
     </ul>
 </nav>

    <header>
      <h1>Our Services</h1>
    </header>

    <div class="cards">
      {% for service in services %}
      <div class="card">
        <h3>{{ service.service_name }}</h3>
        <p>Duration: 
          {% if 'hour' in service.duration %}
              {{ service.duration.split(' ')[0] | int * 60 }} minutes
          {% elif 'minute' in service.duration %}
              {{ service.duration.split(' ')[0] }} minutes
          {% else %}
              {{ service.duration }} minutes
          {% endif %}
      </p>
        <p><strong>Cost: ₹</strong> {{ service.cost }}</p>
        <p><strong>Description:</strong> {{ service.description }}</p>
      <div class="button-container">
        <a href="{{ url_for('admin_trainer', service_id=service.id) }}">View Trainers</a>
        <!-- Edit button -->
        <a href="{{ url_for('edit_service', service_id=service.id) }}" class="edit-button"> <i class="fa fa-edit"></i> Edit </a>
        <!-- Delete button -->
        <form action="{{ url_for('delete_service', service_id=service.id) }}" method="POST" style="display: inline;">
          <button type="submit" class="delete-button"><i class="fa fa-trash"></i> Remove</button>
        </form>
      </div>
      </div>

      {% endfor %}
    </div>  

  </body>
</html>