<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Haven</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <!-- Dog Walking Animation -->
    <img src="/static/images/paw1.jpg" alt="Dog Walking" class="dog">

    <!-- Paw Prints Animation -->
    <div class="paw-print"></div>

    <!-- Header Section -->
    <header>
      <h1>Welcome to Pet Haven</h1>
    </header>

    <!-- Description Section -->
    <p>
      At Pet Haven, we are committed to providing top-notch care and services to
      ensure your beloved pets are happy, healthy, and well-groomed.<br />
      Experience the best in pet care with our friendly and professional team,
      and let us help you give your furry companions the love and care they
      deserve!
    </p>

    <!-- Explore Now Link -->
    <a href="{{ url_for('list_services') }}">Explore Now</a>
  </body>
</html>
