<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
          rel="stylesheet"
          href="{{ url_for('static', filename='css/trainers.css') }}"
        />
      </head>
<body>
    <h1>Our Trainers</h1>
    <ul>
        {% for trainer in trainers %}
            <li>
                <img
                src="{{ trainer.profile_pic }}"
                alt="{{ trainer.name }}"
                width="100"
                />
                <h2>{{ trainer.name }}</h2>
                <p>Experience: {{ trainer.experience }}</p>
                <p>Rating: {{ trainer.rating }}</p>
                <p>Description: {{ trainer.description }}</p>
                <a class="button" href="{{ url_for('edit_trainer', service_id=trainer.service_id, trainer_id=trainer.id) }}">Edit Profile</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
